html
    head  
        title Merhaba Pug 
    
    body 
        | Merhaba Pug
        br
        span(style="color:red; border:1px solid") Pug la çalışmaya başlamak enteresan bir duygu..  
        h3 | #{name}  
        p  
           =surname  
           //pug da değişken tanımlamak
        - let okul="Big privat school"
        - let sinif="4/B"
        hr
        // if li bir koşul kullanabiliriz
        - var sayi=1
        if !sayi
            | Sayı değişkeni yok
        else if sayi === 12
            | Sayı 12
        else 
            | Sayı 12 değil        
        hr
        //Döngü leri de kullanabiliriz
        ul
            each val in [1, 2, 3, 4, 5]
                li= val
        ul
            each val, index in ['zero', 'one', 'two']
                li= index + ': ' + val
        hr
        //aynı zamanda bu değişkenleri hazır fonksiyonla da kullanabilirz
        =okul.toUpperCase() 
        br
        |sınıf: #{sinif}
        include footer.pug   
    //footer da yazabiliriz footer.pug da yazabiliriz.. 
    //Bu da index.js den gelen değişkenin alt satırda kullanılma şekli üstteki {#name} ise tag ın yanında değişken kullanma şeklidir pug daki ve eğer öncesinde bir string kullanacksak sonrasında {#name} bu şekilde kullanabiliriz
    //Döngülerde kullanabiliriz