block stylesheet
    link(href="layout.css")
block content 
        | Ana Sayfa
block scripts

//Burası sayfaları kontrol ettğimiz layout sayfası burda olabildiğince bloklara ayırarak özellikleri yönetmeye çalışmalıyız