<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Merhaba Pug
    body
        |Merhaba Pug!
    //Tag den sonra direk olarak o tag içine birşey yazzacaksak ya araya boşluk bırakıp yazarız ya da hemen alta inip başa uzun çizgi koyup onun devamına yazabiliriz.Yani bir alt satıra inip  doğrudan yazarsak onu da tag olarak algılamaması için başıan uzun çizgi koymalıyız