<!DOCTYPE html>
html(lang="en")
    head  
        link(rel="stylesheet",href="other-style.css") 
        link(rel="stylesheet",href="style.css")
        title Document
    body Hello
       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ab quibusdam animi distinctio! Saepe neque rerum iusto necessitatibus atque enim molestiae iste perferendis at repudiandae itaque possimus, nesciunt, cumque quis.